body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

/* 1. botão com hover */
.btn-hover {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer; 
}

.btn-hover:hover{
    background-color: gold;
    color: blue;
}

/* 2. zoom em imagem*/
.zoom-imagem{
    width: 100px;   /* ou 50px se quiser ainda menor*/
    height: auto;
    max-width: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

.zoom-imagem:hover{
    transition: scale(1.2);
}

/* 3. card interativo*/
.card {
    border: 1px solid #ccc;
}

.card-link {
    text-decoration: none;
    color: inherit; /* mantem a cor do texto*/
}

.card:hover {
    transform: translatey(-5px);
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}

/*4. fade-in */
.fade-in {
    opacity: 1;
    animation: aparecer 5s forwards;
}

@keyframes aparecer {
    to{
        opacity: 0;
    }
}
 /* menu com animação*/

 .menu a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #3498db;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease;
 }

 .menu a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #3498db;
    left: 0;
    bottom: 0;
    transition: width 0.3s;
 }
 .menu a:hover{
    color: red;
 }
.menu a:hover::after{
    width: 100%;
}
