* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

header {
  background-color: #f9f5f0;
  padding: 20px 0;
}

.logo {
  font-size: 1.8em;
  font-weight: bold;
  color: #a05c5c;
}

.menu {
  display: flex;
  gap: 20px;
}
.menu2 {
  gap: 20px;
  margin-left: 30px;
}

.menu a {
  color: #333;
  font-weight: 500;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  background: url('https://images.unsplash.com/photo-1588776814546-b68c5a7ecb3d') no-repeat center center/cover;
  color: #fff;
  padding: 100px 0;
  text-align: center;
}

.hero-content h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.botao {
  display: inline-block;
  padding: 12px 24px;
  background-color: #a05c5c;
  color: white;
  border-radius: 8px;
  transition: background 0.3s;
}

.botao:hover {
  background-color: #884848;
}

section {
  padding: 60px 0;
}

.sobre, .servicos, .contato {
  background-color: #f5f5f5;
}
h1 {
  color: rgb(155, 82, 82);
  text-align: center;
}
h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #a05c5c;
}

footer {
  background-color: #f1ede9;
  text-align: center;
  padding: 20px 0;
  font-size: 0.9em;
}

.whatsapp {
  position: fixed;
  bottom: 10px;
  right: 20px;
  background: #009436;
  color: white;
  font-size: 18px;
  padding: 12px 16px;
  border-radius: 100%;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  z-index: 1000;
}

.texto-sobre {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  margin: 1em;
}

#img1 {
  margin: 2em;
  text-align: left;
}
#img2 {
  margin: 1em;
  text-align: center;
}
#img3 {
  margin: 1em;
  text-align: right;
}

