{% extends "base.html" %}

{% block content %}
<section class="section">
  <div class="container">
    <h2> Mensagens Recebidas</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Email</th>
          <th>Mensagem</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        {% for c in contatos %}
        <tr>
          <td>{{ c[0] }}</td>
          <td>{{ c[1] }}</td>
          <td>{{ c[2] }}</td>
          <td>{{ c[3] }}</td>
          <td>{{ c[4] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock %}
