<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clínica Nise da Silveira</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Inicial</a></li>
                <li><a href="{{ url_for('sobre') }}">Sobre Nós</a></li>
                <li><a href="{{ url_for('servicos') }}">Serviços</a></li>
                <li><a href="{{ url_for('blog') }}">Blog</a></li>
                <li><a href="{{ url_for('recursos') }}">Recursos</a></li>
                <li><a href="{{ url_for('contato') }}">Contato</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© 2025 Clínica Terapêutica Nise da Silveira</p>
    </footer>
</body>
</html>
