<!DOCTYPE html>
<html lang="pt-br
">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Clinica da Nise da Silveira</h1>
    <nav>
        <a href="nisesilveira.html">Inicio</a>
        <a href="sobre.html">Sobre nós</a>
        <a href="serviços.html">Serviços</a>
        <a href="blog.html">Blog</a>
        <a href="recursos.html">Recursos</a>
        <a href="contato.html">Contatos</a>
    </nav>
    <h2>Bem-vindo!</h2>
    <p>Transforme seus desafios em superações com a terapia, seu bem-estar é prioridade.</p>
</body>
</html>