<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Dra. Nise da Silveira | Psicóloga</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

  <header>
    <div class="container">
      <h1 class="logo">Nise da Silveira</h1>
      <nav>
        <ul class="menu">
          <li><a href="{{ url_for('sobre') }}">Sobre</a></li>
          <li><a href="{{ url_for('servicos') }}">Serviços</a></li>
          <li><a href="{{ url_for('contato') }}">Contato</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section class="hero">
    <div class="hero-content">
      <h2>Atendimento Psicológico Humanizado</h2>
      <p>Online e presencial | CRP 25/32154</p>
      <a href="https://wa.me/55998078938" class="botao">Agende uma sessão</a>
    </div>
  </section>

  <section  class="sobre">
    <div class="container">
      <h2>Sobre mim</h2>
      <p>Nise Magalhães da Silveira OMC (Maceió, 15 de fevereiro de 1905 — Rio de Janeiro, 30 de outubro de 1999) foi uma médica psiquiatra brasileira. Reconhecida mundialmente por sua contribuição à psiquiatria, revolucionou o tratamento mental no Brasil por meio da arte, livre expressão e afetividade. Dona Ivone Lara foi uma das personalidades a trabalhar com Nise da Silveira. Nos seus estudos sobre esquizofrenia trocou correspondências com Jung em 1954.</p>
    </div>
  </section>

 

  <section  class="contato">
    <div class="container">
      <h2>Entre em contato</h2>
      <p>Email: raieira02@gmail.com</p>
      <p>WhatsApp: (99) 99807-8938</p>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>@ 2025 Nise da Silveira - Psicóloga | Todos os direitos reservados.</p>
    </div>
  </footer>

  <a href="https://wa.me/55879980789" class="whatsapp" target="_blank"><label for="mensagem"><i class="fa-solid fa-comment"></i>Mensagem
  </label></a>

</body>
</html>
