<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Dra. Nise da Silveira | Psicóloga</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

  <header>
    <div class="container">
      <h1 class="logo">Nise da Silveira</h1>
      <nav>
        <ul class="menu">
          <li><a href="#sobre">Sobre</a></li>
          <li><a href="#servicos">Serviços</a></li>
          <li><a href="#contato">Contato</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section class="hero">
    <div class="hero-content">
      <h2>Atendimento Psicológico Humanizado</h2>
      <p>Online e presencial | CRP 25/32154</p>
      <a href="https://wa.me/55998078938" class="botao">Agende uma sessão</a>
    </div>
  </section>

  <section id="sobre" class="sobre">
    <div class="container">
      <h2>Sobre mim</h2>
      <p>Nise Magalhães da Silveira OMC (Maceió, 15 de fevereiro de 1905 — Rio de Janeiro, 30 de outubro de 1999) foi uma médica psiquiatra brasileira. Reconhecida mundialmente por sua contribuição à psiquiatria, revolucionou o tratamento mental no Brasil por meio da arte, livre expressão e afetividade. Dona Ivone Lara foi uma das personalidades a trabalhar com Nise da Silveira. Nos seus estudos sobre esquizofrenia trocou correspondências com Jung em 1954.</p>
    </div>
  </section>

  <section id="servicos" class="servicos">
    <div class="container">
      <h2>Serviços</h2>
      <ul>
        <li>Atendimento Individual</li>
        <li>Terapia de Casal</li>
        <li>Psicoterapia Online</li>
      </ul>
    </div>
  </section>

  <section id="contato" class="contato">
    <div class="container">
      <h2>Entre em contato</h2>
      <p>Email: contato@juliaomena.com.br</p>
      <p>WhatsApp: (99) 99999-9999</p>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>&copy; 2025 Julia Omena - Psicóloga | Todos os direitos reservados.</p>
    </div>
  </footer>

  <a href="https://wa.me/5599999999999" class="whatsapp" target="_blank">💬</a>

</body>
</html>
