<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Sobre a Clinica</h1>
      <nav>
        <ul class="menu">
          <li><a href="{{ url_for('sobre') }}">Sobre</a></li>
          <li><a href="{{ url_for('servicos') }}">Serviços</a></li>
          <li><a href="{{ url_for('contato') }}">Contato</a></li>
        </ul>
      </nav>
    <p>A Clínica é um centro especializado em saúde mental, dedicado ao cuidado humanizado, ético e individualizado de cada paciente. Oferecemos atendimento para transtornos como depressão, ansiedade, bipolaridade, dependência química, entre outros, sempre com foco no bem-estar e na recuperação integral do indivíduo.

    Contamos com uma equipe multidisciplinar experiente — formada por psiquiatras, psicólogos, terapeutas e profissionais de apoio — que trabalha de forma integrada para garantir um tratamento completo, seguro e acolhedor.

    Nosso ambiente foi projetado para proporcionar conforto, privacidade e confiança, tanto para os pacientes quanto para seus familiares..</p>
    
</body>
</html>